/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* carousel styles */

/*.carousel {
    display: block;
    width: 100;
    .img {
        width: 100%;
    }
}
*/
.carousel-item {
    position: relative;
    p {
        position: absolute;
        color:white;
        font-weight: bold;
        font-size: 40px;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }
    .rounded-pill {
        position: absolute;
        font-size: 20px;
        top: 130%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin:0;
        padding:50;
    }
}

.jumbotron-extend {
    position: relative;
    height: 40vh;
    min-height: 200px;
}
.card-space {
    margin-top: 20px;
}
.list-body {
    font-size: 15px;
}

.card-title {
    position: relative;
    .card-msg {
        font-size: 30px;
        font-weight: bold;
    }
}

.main-title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}


.index-font {
    font-size: 20px;
    font-family: cursive;
}

.img-style {
    max-width: 540px;
    max-height: 300px;
}

.profile-font {
    font-family: cursive;
}
.description-font {
    font-family: cursive;
}
.store-font {
    font-family: cursive;
}

// .picure-size {
//     margin-top: 0;
//     background: orange;
// }

.header_nav {
    .link-noline {
        text-decoration: none;
    }
}

.flash {
    color: $white;
    text-align: center;
    &__alert{
        background-color: red;
    }
    &__notice {
        background-color: $blue;
    }
}
.mrg-3{
    margin-right: 3px;
}

//検証中
.circle-box {
    //  display: inline-block;
    // width: 50px;
    // height: 50px;
    // position: relative;
    // overflow: hidden;
    // border-radius: 50%;
    .img {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -40%); /*調整*/
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius:50%;
    }
}
.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}

.balloon1-left p {
    margin: 0;
    padding: 0;
}
.comment-profile{
    font-size: 5px;
    margin-top: 0;
}
